<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.chuangsheng.forum">
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <!-- Required -->
    <permission
        android:name="com.chuangsheng.forum.permission.JPUSH_MESSAGE"
        android:protectionLevel="signature" />
    <!-- Required -->
    <uses-permission android:name="com.chuangsheng.forum.permission.JPUSH_MESSAGE" />
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />




    <application
        android:name="com.chuangsheng.forum.application.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:roundIcon="@mipmap/logo"
        android:networkSecurityConfig="@xml/network_security_config"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:theme"
        >
        <!--极光推送start-->
        <!-- Required SDK 核心功能-->
        <!-- 可配置 android:process 参数将 PushService 放在其他进程中 -->
        <service
            android:name="cn.jpush.android.service.PushService"
            android:enabled="true"
            android:exported="false" >
            <intent-filter>
                <action android:name="cn.jpush.android.intent.REGISTER" />
                <action android:name="cn.jpush.android.intent.REPORT" />
                <action android:name="cn.jpush.android.intent.PushService" />
                <action android:name="cn.jpush.android.intent.PUSH_TIME" />
            </intent-filter>
        </service>


        <!-- since 3.0.9 Required SDK 核心功能-->
        <provider
            android:authorities="com.chuangsheng.forum.DataProvider"
            android:name="cn.jpush.android.service.DataProvider"
            android:exported="true"
            />

        <!-- since 1.8.0 option 可选项。用于同一设备中不同应用的 JPush 服务相互拉起的功能。 -->
        <!-- 若不启用该功能可删除该组件，或把 enabled 设置成 false ；App 不会被其他 App 拉起，但会拉起其他的 App。 -->
        <service
            android:name="cn.jpush.android.service.DaemonService"
            android:enabled="true"
            android:exported="true">
            <intent-filter >
                <action android:name="cn.jpush.android.intent.DaemonService" />
                <category android:name="com.chuangsheng.forum"/>
            </intent-filter>
        </service>

        <!-- since 3.1.0 Required SDK 核心功能-->
        <provider
            android:authorities="com.chuangsheng.forum.DownloadProvider"
            android:name="cn.jpush.android.service.DownloadProvider"
            android:exported="true"
            />

        <!-- Required SDK 核心功能-->
        <receiver
            android:name="cn.jpush.android.service.PushReceiver"
            android:enabled="true" >
            <intent-filter android:priority="1000">
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED_PROXY" />
                <category android:name="com.chuangsheng.forum"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.USER_PRESENT" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
            <!-- Optional -->
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED" />
                <action android:name="android.intent.action.PACKAGE_REMOVED" />
                <data android:scheme="package" />
            </intent-filter>
        </receiver>

        <!-- Required SDK 核心功能-->
        <activity
            android:name="cn.jpush.android.ui.PushActivity"
            android:configChanges="orientation|keyboardHidden"
            android:theme="@android:style/Theme.NoTitleBar"
            android:exported="false" >
            <intent-filter>
                <action android:name="cn.jpush.android.ui.PushActivity" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="com.chuangsheng.forum" />
            </intent-filter>
        </activity>
        <!-- SDK 核心功能-->
        <activity
            android:name="cn.jpush.android.ui.PopWinActivity"
            android:configChanges="orientation|keyboardHidden"
            android:exported="false"
            android:theme="@style/MyDialogStyle"
            >
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="com.chuangsheng.forum" />
            </intent-filter>
        </activity>

        <!-- Required SDK 核心功能-->
        <service
            android:name="cn.jpush.android.service.DownloadService"
            android:enabled="true"
            android:exported="false" >
        </service>

        <!-- Required SDK 核心功能-->
        <receiver android:name="cn.jpush.android.service.AlarmReceiver" />

        <!-- Required since 3.0.7 -->
        <!-- 新的 tag/alias 接口结果返回需要开发者配置一个自定的广播 -->
        <!-- 该广播需要继承 JPush 提供的 JPushMessageReceiver 类, 并如下新增一个 Intent-Filter -->
        <receiver
            android:name="com.chuangsheng.forum.Receiver.MyJpMsgReceiver"
            android:enabled="true"
            android:exported="false" >
            <intent-filter>
                <action android:name="cn.jpush.android.intent.RECEIVE_MESSAGE" />
                <category android:name="com.chuangsheng.forum" />
            </intent-filter>
        </receiver>

        <!-- User defined. 用户自定义的广播接收器-->
        <receiver
            android:name="com.chuangsheng.forum.Receiver.MyReceiver_1"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <!--Required 用户注册 SDK 的 intent-->
                <action android:name="cn.jpush.android.intent.REGISTRATION" />
                <!--Required 用户接收 SDK 消息的 intent-->
                <action android:name="cn.jpush.android.intent.MESSAGE_RECEIVED" />
                <!--Required 用户接收 SDK 通知栏信息的 intent-->
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED" />
                <!--Required 用户打开自定义通知栏的 intent-->
                <action android:name="cn.jpush.android.intent.NOTIFICATION_OPENED" />
                <!-- 接收网络变化 连接/断开 since 1.6.3 -->
                <action android:name="cn.jpush.android.intent.CONNECTION" />
                <category android:name="com.chuangsheng.forum" />
            </intent-filter>
        </receiver>

        <!-- User defined. 用户自定义 Receiver 接收被拉起回调-->
        <!-- 自定义 Receiver 组件，继承cn.jpush.android.service.WakedResultReceiver类,复写onWake(int wakeType)或 onWake(Context context, int wakeType)方法以监听被拉起 -->
        <receiver android:name="com.chuangsheng.forum.Receiver.MyWakedResultReceiver">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.WakedReceiver" />
                <category android:name="${applicationId}" />
            </intent-filter>
        </receiver>
        <!-- Required. For publish channel feature -->
        <!-- JPUSH_CHANNEL 是为了方便开发者统计 APK 分发渠道。-->
        <!-- 例如: -->
        <!-- 发到 Google Play 的 APK 可以设置为 google-play; -->
        <!-- 发到其他市场的 APK 可以设置为 xxx-market。 -->
        <meta-data android:name="JPUSH_CHANNEL" android:value="developer-default"/>
        <!-- Required. AppKey copied from Portal -->
        <meta-data android:name="JPUSH_APPKEY" android:value="23c015154a2220a2278f32e1"/>

        <!--极光推送end-->


        <!--7.0拍照权限-->
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.chuangsheng.forum.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
        <activity
            android:name=".MainActivity">
        </activity>
        <!--消息中心-->
        <activity android:name=".ui.mine.ui.NewsActivity"
            android:screenOrientation="portrait"
            />
        <!--安全中心-->
        <activity android:name=".ui.mine.ui.SafeCenterActivity"
            android:screenOrientation="portrait"
            />
        <!--修改手机号码-->
        <activity android:name=".ui.mine.ui.ChangePhoneActivity"
            android:screenOrientation="portrait"
            />
        <!--新手机号码-->
        <activity android:name=".ui.mine.ui.NewPhoneActivity"
            android:screenOrientation="portrait"
            />
        <!--绑定邮箱-->
        <activity android:name=".ui.mine.ui.BindEmailActivity"
            android:screenOrientation="portrait"
            />
        <!--个人中心-->
        <activity android:name=".ui.mine.ui.PersonInfoActivity"
            android:screenOrientation="portrait"
            />
        <!--意见反馈-->
        <activity android:name=".ui.mine.ui.FeedBackActivity"
            android:screenOrientation="portrait"
            />
        <!--webview-->
        <activity android:name=".ui.mine.ui.WebviewActivity"
            android:screenOrientation="portrait"
            />
        <!--登录-->
        <activity android:name=".ui.account.ui.LoginActivity"
            android:screenOrientation="portrait"
            >

        </activity>
        <!--邮箱找回-->
        <activity android:name=".ui.account.ui.FindByEmailActivity"
            android:screenOrientation="portrait"
            />
        <!--设置名称-->
        <activity android:name=".ui.account.ui.SetNameActivity"
            android:screenOrientation="portrait"
            />
        <!--发帖-->
        <activity android:name=".ui.forum.ui.PostForumActivity"
            android:screenOrientation="portrait"
            />
        <!--回帖-->
        <activity android:name=".ui.forum.ui.ReplyForumActivity"
            android:screenOrientation="portrait"
            />
        <!--搜索-->
        <activity android:name=".ui.community.ui.SearchActivity"
            android:screenOrientation="portrait"
            />
        <!--签名-->
        <activity android:name=".ui.mine.ui.SignActivity"
            android:screenOrientation="portrait"
            />
        <!--我的帖子-->
        <activity android:name=".ui.mine.ui.MyFroumsActivity"
            android:screenOrientation="portrait"
            />
        <!--我的回帖-->
        <activity android:name=".ui.mine.ui.MyReplyForumActivity"
            android:screenOrientation="portrait"
            />
        <!--我的收藏-->
        <activity android:name=".ui.mine.ui.CollectionActivity"
            android:screenOrientation="portrait"
            />
        <!--浏览历史-->
        <activity android:name=".ui.mine.ui.BrowseHistoryActivity"
            android:screenOrientation="portrait"
            />
        <!--帖子详情-->
        <activity android:name=".ui.forum.ui.ForumDetailActivity"
            android:screenOrientation="portrait"
            />
        <!--申卡-->
        <activity android:name=".ui.home.ui.ApplyCardActivity"
            android:screenOrientation="portrait"
            />
        <!--社区详情-->
        <activity android:name=".ui.forum.ui.CommunityDetailActivity"
            android:screenOrientation="portrait"
            />
        <!--选择版区-->
        <activity android:name=".ui.forum.ui.ChooseAreaActivity"
            android:screenOrientation="portrait"
            />
        <!--搜索结果-->
        <activity android:name=".ui.community.ui.SearchResultActivity"
            android:screenOrientation="portrait"
            />
        <!--联系我们-->
        <activity
            android:name=".ui.mine.ui.ContactUsActivity"
            android:screenOrientation="portrait"
            />
        <!--消息详情-->
        <activity
            android:name=".ui.mine.ui.SystemDetailActivity"
            android:screenOrientation="portrait"
            />
        <!--等级详情-->
        <activity
            android:name=".ui.mine.ui.LevelIntroduceActivity"
            android:screenOrientation="portrait"
            />
        <!--用户详情-->
        <activity
            android:name=".ui.mine.ui.UserDetailActivity"
            android:screenOrientation="portrait"
            />
        <!--欢迎界面-->
        <activity
            android:name=".ui.account.ui.WelcomeActiity"
            android:screenOrientation="portrait"
            />
        <!--查看大图-->
        <activity
            android:name=".ui.forum.ui.LookBigPicActivity"
            android:screenOrientation="portrait"
            />
        <!--xzy:帖子详情-->
        <activity android:name=".ui.forum.ui.NewCommunityDetailActivity"
            android:screenOrientation="portrait"
            />
        <!--启动界面-->
        <activity
            android:name=".ui.account.ui.SplashActivity"
            android:screenOrientation="portrait"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>