<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.chuangsheng.forum">
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <application
        android:name="com.chuangsheng.forum.application.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:networkSecurityConfig="@xml/network_security_config"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        tools:replace="android:icon,android:theme"
        android:theme="@style/MyAppTheme">

        <!--7.0拍照权限-->
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.chuangsheng.forum.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
        <activity android:name=".MainActivity">

        </activity>
        <!--消息中心-->
        <activity android:name=".ui.mine.ui.NewsActivity"
            android:screenOrientation="portrait"
            />
        <!--安全中心-->
        <activity android:name=".ui.mine.ui.SafeCenterActivity"
            android:screenOrientation="portrait"
            />
        <!--修改手机号码-->
        <activity android:name=".ui.mine.ui.ChangePhoneActivity"
            android:screenOrientation="portrait"
            />
        <!--新手机号码-->
        <activity android:name=".ui.mine.ui.NewPhoneActivity"
            android:screenOrientation="portrait"
            />
        <!--绑定邮箱-->
        <activity android:name=".ui.mine.ui.BindEmailActivity"
            android:screenOrientation="portrait"
            />
        <!--个人中心-->
        <activity android:name=".ui.mine.ui.PersonInfoActivity"
            android:screenOrientation="portrait"
            />
        <!--意见反馈-->
        <activity android:name=".ui.mine.ui.FeedBackActivity"
            android:screenOrientation="portrait"
            />
        <!--webview-->
        <activity android:name=".ui.mine.ui.WebviewActivity"
            android:screenOrientation="portrait"
            />
        <!--登录-->
        <activity android:name=".ui.account.ui.LoginActivity"
            android:screenOrientation="portrait"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!--邮箱找回-->
        <activity android:name=".ui.account.ui.FindByEmailActivity"
            android:screenOrientation="portrait"
            />
        <!--设置名称-->
        <activity android:name=".ui.account.ui.SetNameActivity"
            android:screenOrientation="portrait"
            />
        <!--发帖-->
        <activity android:name=".ui.forum.ui.PostForumActivity"
            android:screenOrientation="portrait"
            />
        <!--回帖-->
        <activity android:name=".ui.forum.ui.ReplyForumActivity"
            android:screenOrientation="portrait"
            />
        <!--搜索-->
        <activity android:name=".ui.community.ui.SearchActivity"
            android:screenOrientation="portrait"
            />
        <!--签名-->
        <activity android:name=".ui.mine.ui.SignActivity"
            android:screenOrientation="portrait"
            />
        <!--我的帖子-->
        <activity android:name=".ui.mine.ui.MyFroumsActivity"
            android:screenOrientation="portrait"
            />
        <!--我的回帖-->
        <activity android:name=".ui.mine.ui.MyReplyForumActivity"
            android:screenOrientation="portrait"
            />
        <!--我的收藏-->
        <activity android:name=".ui.mine.ui.CollectionActivity"
            android:screenOrientation="portrait"
            />
        <!--浏览历史-->
        <activity android:name=".ui.mine.ui.BrowseHistoryActivity"
            android:screenOrientation="portrait"
            />
        <!--帖子详情-->
        <activity android:name=".ui.forum.ui.ForumDetailActivity"
            android:screenOrientation="portrait"
            />
        <!--申卡-->
        <activity android:name=".ui.home.ui.ApplyCardActivity"
            android:screenOrientation="portrait"
            />
        <!--社区详情-->
        <activity android:name=".ui.forum.ui.CommunityDetailActivity"
            android:screenOrientation="portrait"
            />
        <!--选择版区-->
        <activity android:name=".ui.forum.ui.ChooseAreaActivity"
            android:screenOrientation="portrait"
            />
    </application>

</manifest>